*{margin: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior:smooth;

}
body{
    margin: 0;
    background-color: gainsboro;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
}

h1{color:rgb(0, 21, 141);}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.5em;}
H5{color: whitesmoke;}

header{
    display: flex;
    flex-direction: column;
    min-height: 70px;
    background-color:#ffa500;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    align-items: center;
    margin-right: 20px ;
}

header .turibera{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1.35em;
    }

header .conteiner{
    margin: 0;
    display: flex;
    align-items: center;
}

header a{
    text-decoration: none;
    font-weight: bold;
    padding-right: 10px;
    color: black;}

header a:hover{color:wheat;}

nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:wheat;
}
a{
    text-decoration: none;
    color: black;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}

.contenedor{
    display: grid;
    /* grid-template-columns: 100px 100px 100px;     */
    /* grid-template-columns: 50% 30% 20%; */
    grid-template-columns: 2fr 6fr 2fr;
    /* grid-template-rows: 100px 100px 100px; */
    gap: 10px;
    align-items: start;

}
.box {
    background-color: wheat;
    padding: 10px;
    color: black;
    text-align: center;
    border-style:groove;
}

form {
    background-image: url("img/bera.png") ;
    background-size: 25%;

    
}

footer{
    background-color: rgba(0, 0, 0, 0.582);
}    

footer .conteiner{

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }

footer p{
    margin: 0;
    padding: 12px;
    color: white;  
}