*{margin: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior:smooth;

}
body{
    margin: 0;
    background-color: white;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
}

h1{color:rgb(0, 21, 141);}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.5em;}

header{
    display: flex;
    flex-direction: column;
    min-height: 70px;
    background-color:orange;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    align-items: center;
    margin-right: 20px ;
}


header .turibera{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1.35em;
    }

header .conteiner{
    margin: 0;
    display: flex;
    align-items: center;
}

header a{
    text-decoration: none;
    font-weight: bold;
    padding-right: 10px;
    color: black;}

header a:hover{color:wheat;}


/* --------------------LUGARES-------------------------------------- */

#lugares{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: white; 
    color: black;
  }


#lugares .conteiner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    padding: 2% 12%;
}

#lugares p{
    margin-top: 10px;
}

#lugares h2{
    margin-top: 5px;
  }

#lugares h3{
    margin-top: 15px;
    }

/* --------------------GALERIA--------------------------------------- */


#galeria {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    min-height: 10px;
    background-color:orange;
    justify-content: center;
    padding: 20px;
}

#galeria div{
    display: flex;
    flex-wrap: wrap;
    /* float: left; */
    padding: 5px 5px 5px 5px;
  }

.fotos img{
    height: 180px;
    align-items: center;
    margin-right: 20px ;
    border: 1px solid white;
    cursor: pointer;
    
    }

.fotos img:hover{
       transform: scale(1.3);
             }

/* --------------------OTROS DATOS--------------------------------------- */

#otrosdatos {
display: flex;
flex-direction: row;
flex-wrap: wrap;
min-height: 70px;
justify-content: space-between;
align-items: center;
padding: 5%;
background-color: white;
color: black
}

#otrosdatos .datos{
    padding: 50px 0px 0px 50px;
    }



footer{
    background-color: rgba(0, 0, 0, 0.582);

}
footer .conteiner{

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }

footer p{
    margin: 0;
    padding: 12px;
    color: white;  
}
 




@media (min-width: 992px){
        header{
        display: flex;
        flex-direction: row;
        }
        nav {
            padding: 10px 0px;
        }

        #lugares .cartas{
            display: flex;
            flex-direction: row;
            justify-content: center;
            }
        #lugares p{
            display: block;
            
        }
    }
@media (max-width: 600px){
    header{
        display: flex;
        flex-direction: row;        
        }
        nav {
            padding: 10px 0px;
        }

        /* #lugares .cartas{
            display: flex;
            flex-direction: row;
            justify-content: center;
            }
        #lugares p{
            display: block;
            
        } */
}